<h1>こんにちは、<%= @user.name %>さん。</h1>
<p>
  パスワードの再設定がリクエストされました。
  新しいパスワードに変更される場合はこちらのリンクをクリックして新しいパスワードを設定してください。<%= @url %>
</p>
<br>
<p>
  あなたが、パスワードの再設定をリクエストされていない場合は、このメールは無視してください。
  上記のリンクからパスワードを再設定しない限り、パスワードは変更されません。
</p>
