html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", "游ゴシック体", "ヒラギノ角ゴ Pro W3", Sans-Serif;
  line-height: 1.7;
  color: #000000;
  background-color: #F9FAFE;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
