.auth-form {
  width: 30rem;
  margin: 4rem auto 2rem;
  border: 1px solid #ddd;
  background-color: white;
  padding: 2rem 1.875rem 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
}

.auth-form__title {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.auth-form__footer {
  border-top: 1px solid #ccc;
  padding: .7rem 0;
}

.auth-form-nav__items {
  display: flex;
  justify-content: space-around;
}

.auth-form-nav__item {
  list-style: none;
}

.auth-form-nav__link {
  font-size: .8rem;
}
