.auth-form {
  max-width: 30rem;
  margin: 2rem auto;
  border: 1px solid #ddd;
  background-color: white;
  padding: 2rem 1.875rem 0;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.06);
  @media(max-width: 480px) {
    margin: .5rem 2rem 2rem 2rem;
  }
}

.auth-form--is-update {
  max-width: 30rem;
  margin: 0 auto;
}

.auth-form-logo {
  font-family: "American Typewriter";
  text-align: center;
  font-size: 3rem;
  margin-top: 2.5rem;
  @media(max-width: 480px) {
    margin-top: .5rem;
  }
}

.auth-form-logo__link {
  color: #2E5173;
}

.auth-form__header {
  margin-bottom: 1rem;
}

.auth-form__title {
  text-align: center;
  font-size: 1.5rem;
}

.auth-form__body {
  margin: 1.5rem 0;
}

.auth-form__footer {
  border-top: 1px solid #ccc;
  padding: .7rem 0;
}

.auth-form-nav__items {
  display: flex;
  justify-content: space-around;
}

.auth-form-nav__item {
  list-style: none;
}

.auth-form-nav__link {
  font-size: .8rem;
}
