.errors {
  border: 1px solid #db2828;
  border-radius: 4px;
  max-width: 30rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2rem;
  background-color: #fff6f6;
  padding: 1rem;
}

.errors__title {
  color: #9f3a38;
  font-size: 1rem;
  text-align: center;
  margin-bottom: .5rem;
}

.errors__item {
  color: #9f3a38;
  list-style: none;
  font-size: .875rem;
  margin-bottom: 2px;
}
