.footer {
  padding: 1rem 0;
}

.footer-nav {
  margin-bottom: .25em;
}

.footer-nav__items {
  display: flex;
  justify-content: center;
}

.footer-nav__item {
  padding: 0 1rem;
}

.footer-nav__link {
  font-size: .857rem;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.footer-copyright__author {
  padding-right: .5rem;
}
