.header {
  background-color: #1A5084;
}

.header__title {
  font-size: 1.835rem;
  font-family: "American Typewriter";
}

.header__title--link {
  color: #fafafa;
  text-decoration: none;
  padding: 2px 7px;
  transition: all ease-out .08s;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-nav {
  height: 100%;
}

.header-nav__items {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1rem;
}

.header-nav__item--label {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
  color: rgba(38,52,74,.5);
  cursor: pointer;
}

.header-nav__item--link {
  font-weight: bold;
  padding: 2px 7px;
  font-size: .9rem;
  color: #fafafa;
  transition: all ease-out .08s;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-nav__item--button {
  font-weight: bold;
  padding: 2px 7px;
  font-size: .9rem;
  color: #fafafa;
  border: 2px solid #ddd;
  border-radius: 4px;
  transition: all ease-out .08s;
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-nav__item--dropdown {
  font-weight: bold;
  padding: 2px 7px;
  color: #fafafa;
  &::after {
    font-weight: 900;
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    margin-left: .3rem;
  }
  &:hover {
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
  }
}

.header-nav__item--input {
  display: none;
}

.header-dropdown {
  display: none;
  input:checked + & {
    display: block;
  }
}

.header-dropdown__items {
  list-style: none;
  > :not(:last-of-type) {
    border-bottom: 1px solid #ddd;
  }
}

.header-dropdown__inner {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 2;
  border: 1px solid rgba(34, 36, 38, .2);
  border-radius: .25rem;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  width: 10rem;
  background-color: white;
  &.is-notification {
    width: 20rem;
  }
}

.header-dropdown__item {
  padding: .75rem;
  font-size: .875rem;
  display: flex;
  transition: all ease-out .2s;
  &.unread {
    background-color: #F6F7FB;
    cursor: pointer;
  }
}

.header-dropdown__item:hover {
  background-color: #E5E5E5;
}

.header-dropdown__item-link {
  display: block;
}

.header-dropdown__background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.header-dropdown__header {
  font-size: .875rem;
  font-weight: bold;
  padding: .5rem;
}

.header-dropdown__text-holder {
  margin-right: .5rem;
}

.header-dropdown__text {
  font-size: .85rem;
}

.header-dropdown__time-holder {
  font-size: .75rem;
  color: gray;
}

.header-dropdown__unread-icon {
  flex-basis: 10%;
  align-self: center;
  &::after {
    content: "";
    display: block;
    width: 7px;
    height: 7px;
    background-color: #1A5084;
    border-radius: 50%;
    margin: 0 auto;
  }
  &.is-read {
    visibility: hidden;
  }
}
