.page-body {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.page-body__inner {
  margin-top: 1.5rem;
}

.page-body__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-body__actions {
  width: 8rem;
}
