.list__labels {
  display: flex;
  padding: 0 1.5rem;
}

.list__label {
  flex: 1 1 14%;
  font-size: .8rem;
  color: #666666;
  padding: 0 5px;
}

.list__label--wide {
  @extend .list__label;
  flex: 1 1 28%;
}

.list__label--narrow {
  @extend .list__label;
  flex: 1 1 7%;
}

.list__inner {
  margin-top: 1rem;
}

